body {
    margin: 5px;
    background-color: #25225a;
}

main {
    display: flex;
}

section {
    margin-top: 10px;
}

h3, h4 {
    color: aliceblue;
}

.header {
    display: flex;
    justify-content: center;
}

.search-panel {
    width: 25%;
    margin: 10px 20px 0 10px;
    padding: 10px 0 10px 10px;
    background-color: #25225a;
}

.search-button-panel {
    margin-left: -52px;
}

.city-list-box {
    margin-top: 5px;
}

#city-name {
    
    color: rgb(251, 255, 0);
    
}

.results-panel {
    width: 75%;
    padding-bottom: 10px;
    visibility: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}

.current-conditions-panel {
    border:#C0C0C0;
    border-right: 30px;
    /* padding-left: 30px;
    padding-bottom: 10px; */
    padding: 15px;
    background-color: #383a65;
    border-radius: 20px;
    color: rgb(255, 241, 240);
    font-size: 1.5rem;
    width:max-content;
    
   
}

.current-info {
    color: rgb(0, 255, 255);
}

.name-block {
   color: rgb(254, 255, 240); 
}

.name-block,
.uv-index-block {
    display: flex;
    align-items: center;
}

#uv-index {
    margin-left: 5px;
    padding: 5px 10px;
}

.forecast-panel {
    padding-top: 50px;
}

.container {
    display: inline;
}

.card-header,
.card-body {
    text-align: center;
}

.card-header {
    background-color: blue;
    color: white;
}

.card-body {
    background-color: rgb(196, 201, 202);
}



/* Classes Added to Elements */

.favorable {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
    color: white;
}


/* Viewports Styling*/

@media screen and (max-width: 575px) {
    .search-panel {
        width: 40%;
    }

    .search-button-panel {
        margin-left: 0px;
    }

    .search-panel h3 {
        font-size: 15px;
    }

    .form-row {
        display: block;
        text-align: center;
    }

    .results-panel {
        width: 60%;
    }
}